body {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("http://i.imgur.com/tx8TIYK.png");
  background-size: cover;
  background-position: top;
}

#main-page {
  padding: 0;
  margin: 0;
}

.static-menu {
  position: absolute;
  top:0;
  width: 100%;
  z-index: 1000;
  padding: 30px;
  font-family: 'Megrim', cursive;
  background-color: #fff;
  margin:0;
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  transition: top 0.7s ease-in-out;

}
.menu-hamburger {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 18px;
  border-top:solid black 1px;
  border-bottom:solid black 1px;
}
#menu-pointer {
  width:90px;
  pointer-events: none;
  margin-top:-6px;
  font-size: 20px;
  position: absolute;
  left:40px;
}
.menu-hamburger:after {
  margin-top:-1px;
  top:50%;
  position: absolute;
  height: 1px;
  content: ' ';
  width: inherit;
  background-color: black;
}
.sliding-menu {
  left:-1000px;
  color:#fff;
  padding-top:150px;
  position: fixed;
  top:0;
  z-index: 10000;
  height: 100vh;
  background-color: rgba(0,0,0,0.65);
  transition: left 0.7s ease-in-out;
}

.sliding-menu label {
  opacity:0;
  font-weight: 100;
  font-family: 'Megrim', cursive;
  cursor: pointer;
  display: block;
  line-height:2em;
  font-size: 1.667em;
  padding: 0 1em;
  transition: opacity 0.9s ease 0.8s;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0px;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-color: 	rgba(255,255,255,0.6);
}

[id^='slide']:checked + .slide {
  z-index:100;
  left: 0;
  text-align: center;
}
[id^='slide']:checked + .slide h1 {
  color:#fff;
}
.menu-close {
  top:40px;
  left:40px;
  width: 20px;
  height:20px;
  position: absolute;
  z-index: 1000;
  cursor: pointer;
}

.menu-close:before, .menu-close:after {
  top:50%;
  margin-top:-1px;
  height: 1px;
  left:0;
  width: 140%;
  background-color: #fff;
  content: ' ';
  position: absolute;
}

.menu-close:after {
  transform: rotate(-45deg);
}
.menu-close:before {
  transform: rotate(45deg);
}

#slide-1-trigger,#slide-2-trigger,#slide-3-trigger, #slide-4-trigger, #slide-0-trigger {
  display: none;
}

.intro-card {
  /*background-color: rgba(255,255,255,0.7);*/
  position: absolute;
  top:50%;
  text-align: right;
  padding:80px  0 0 80px;
  /*border: solid 3px #000;*/
  color:#000;
}

.intro-text {
  font-weight: bold;
  font-size: 50px;
  font-family: 'Italiana', serif;
}
.intro-name {
  font-size: 100px;
  letter-spacing: -7px;
}
.name-letter {
  display: inline-block;
  margin: 0;
}
.name-letter.first {
  font-size:1.5em;
  color: #3fa9f5;
}
.name-letter.first.small {
  font-family: 'Londrina Outline', cursive;
  font-size:1em;
}

.name-letter.diff {
  font-family: 'Ribeye Marrow', cursive;
}
.name-letter.diff2 {
  font-family: 'Caesar Dressing', cursive;
}
.name-letter.diff3 {
  font-family: 'Snowburst One', cursive;
}

@media screen and (max-width: 1540px){
  .intro-name {
    font-size: 80px;
    letter-spacing: -5px;
  }
  .intro-text {
    font-size: 40px;
  }
}


@media screen and (max-width: 1280px){
  .intro-name {
    font-size: 70px;
    letter-spacing: -5px;
  }
  .intro-text {
    font-size: 40px;
  }
}

@media screen and (max-width: 1110px){
  .intro-name {
    font-size: 60px;
    letter-spacing: -5px;
  }
  .intro-text {
    font-size: 30px;
  }
}

@media screen and (max-width: 940px){
  .intro-card {
    padding-left:10px;
  }
  .intro-name {
    font-size: 60px;
  }
  .intro-text {
    font-size: 30px;
  }

}
@media screen and (max-width: 860px){
  .intro-name {
    font-size: 40px;
  }
  .intro-text {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .sliding-menu {
    width: 100%;
  }
  .intro-name {
    font-size: 30px;
  }
  .intro-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 340px) {
  .intro-name {
    font-size: 20px;
    letter-spacing: -3px;
  }
  .intro-text {
    font-size: 15px;
  }
}

